.profile-pic {
  width: 50%;               /* تاخد نص الشاشة */
  max-width: 600px;         /* أقصى حجم للصورة */
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
  opacity: 0;               /* تبدأ مخفية */
  animation: fadeIn 3s ease forwards; /* تدخل تدريجي في 3 ثواني */
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
